
#promo,#checkout,#shopmore  :hover {
   cursor: pointer;
}

.uppar2{
    height:50px;
    width:99%;
    background-color: #0092df;
    display:flex;
    align-items: center;
    color:white;
    padding-left :20px;
   
}
#products{
    margin-left: 10px;
}
#container{
    display: flex;
    margin: auto;
    /* justify-content: space-between; */
}
#main{
    width:60%;
    height: auto;
  
   display: flex;
   flex-direction: column;
 
}
#detail{
    width:32%;
}
#promo{
    display: flex;
    background-color:#f2f2f2;
    align-items: center;
     margin-top: 40px;
     padding:5px;
     justify-content: center;
}
#overview{
    background-color:#f2f2f2; 
    padding:10px;
    margin-top: 30px;
}
.detail{
    display: flex;
    justify-content: space-between;
}
#checkout{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #ff3399;
    color:white;
    margin-top: 20px;
}
#shopmore{
    display:flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 20px;
}#sbi{
    margin-top: 20px;
}
#sbi>img{
  height:80px;
  width:100%;
}
#div_main{
    /* display: flex; */
    border-bottom: 1.5px solid black;
 
    /* height:200px;   */
    width: 100%;
    margin: auto;
    
   
    
   
}
#div_main>img{
    padding-right:30px;
  
}
#div_main>div:nth-child(2){
    padding-right:50px;
}
#qty_price{
    display: flex;
    justify-content: space-between;
    width:40%;
    height:60px;
    align-items: center;
    margin-top: 20px;
 
}
#selector{

    display: flex;
}
.div0{
   
    height: 300px;
    width: 250px;
}
.div0 > img {
    height: 95%;
    width: 95%;
}

select{
    border: none;
}
button{
    color: white;
    background-color: #213;
    margin-right: 10px;
    padding:7px 5px 7px 5px;
    border-radius: 5px;
}
.box{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    border-bottom: 2px solid black;
}