#container{
   height:400px;
   width:50%;
   border: 1px solid black; 
   margin:auto;
   padding:20px;
}
#name,#address{
    width:93%;
    height:30px;
    margin-bottom: 20px;
    margin-left: 12px;
    background-color: aliceblue;
}
#main{
    display: flex;

}
#main>div{
    width:45%;
    height:90%;
    margin:auto;
    
}
#phone,#pin,#alternate,#landmark{
    height:30px;
    width:95%;
    margin-bottom: 20px;

    background-color: aliceblue;
}
#save{
    margin-top: 50px;
    margin-left: 250px;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
}